.mainButton {
    float: right;
}

.table-fixed {
    width: 100%;
    /*table-layout: fixed;*/
    word-break: break-all;
}

.workCon {
    width: 800px;
}

.workBtn {
    position: absolute;
    top: 0;
}
