.mainButton {
    float: right;
}

.table-fixed {
    width: 100%;
    /*table-layout: fixed;*/
    word-break: break-all;
}

.workCon {
    width: 800px;
}

.issueCon {
    width: 1000px;
}

#issueTable tr {
    cursor: pointer;
}

#searchBtn {
    cursor: pointer;
}

#mainLink:link {
    color: #000;
}

#mainLink:visited {
    color: #000;
}
