<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>권한 없음</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/forbidden.css' %}">
</head>
<body>
<div class="row mt-5 mb-3 justify-content-md-center">
    <h1>권한 없음</h1>
</div>

<div class="container justify-content-md-center" >
	<div class="forbidden-sign"></div>
	<h1>Access to this page is restricted.</h1>
	<p>Ensure you have sufficient permissions to access the same.</p>
</div>
</body>
</html>
