<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/main.css' %}">
</head>
<body>
<div class="container">
    <div class="row mt-5 justify-content-md-center">
        <h1>업무 관리</h1>
    </div>

    <div class="row mb-3">
        <div class="col-md-8 mt-5 pt-3">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search ......" aria-label="Recipient's username">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                </div>
            </div>
        </div>
        <div class=" mt-5 pt-3 ml-auto">
            <button type="button" id="createWorkBtn" class="btn btn-primary">업무 생성</button>
        </div>
    </div>
</div>
<div class="container-fluid table-responsive " style="max-height: 500px;">
    <table class="table-bordered table table-fixed">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">담당자</th>
            <th scope="col">업무 지원</th>
            <th scope="col">업무 내용</th>
            <th scope="col">상태</th>
            <th scope="col">시작일</th>
            <th scope="col">종료 예정일</th>
            <th scope="col">종료일</th>
        </tr>
        </thead>
        <tbody>
        {% for work in object_list %}
            <tr>
                <th scope="row" class="workId">{{ work.id }}</th>
                <td scope="row" class="workMan">{{ work.manager }}</td>
                <td scope="row">
                    {% for sup in work.supporter.all %}
                    {{ sup }}
                    {% endfor %}
{#                    {{ work.supporter.name }}#}
                </td>
                <td scope="row " class="workCon">
                    <a href="#" class="float-left" id="work{{ work.id }}">{{ work.work }}</a>
                    <button type="button"  class="btn btn-danger btn-sm float-right" data-toggle="modal" data-target="#deleteModal" data-whatever="{{ work.id }}">삭제</button>
                    <button type="button" onclick="window.location.href='/update/{{ work.id }}';" class="btn btn-primary btn-sm float-right">수정</button>
                </td>
                <td scope="row">{{ work.status }}</td>
                <td scope="row">{{ work.start_date|date:"Y-m-d" }}</td>
                <td scope="row">{{ work.expected_end_date|date:"Y-m-d" }}</td>
                <td scope="row">{{ work.end_date|date:"Y-m-d" }}</td>
            </tr>
        {% empty %}
            <tr>No work yet.</tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">확인</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    정말 삭제하시겠습니까?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                    <button type="button" id="deleteBtn" class="btn btn-danger">확인</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container justify-content-md-center" id="field" style="margin-top: 50px; background-color: #f9f9f9;padding: 50px 20px 10px;">
    <div class="row p-3 justify-content-between">
        <h2 id="formTitle"></h2>
        <button type="button" id="issueCreateBtn" class="btn btn-primary">이슈 생성</button>
    </div>
    <div class="row">
        <table class="table-bordered table table-hover" style="font-size: 13px;" id="issueTable">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">발생 일자</th>
                <th scope="col">종료 일자</th>
                <th scope="col">증상</th>
                <th scope="col">상태</th>
            </tr>
            </thead>
            <tbody>
            {% for issue in issues %}
                <tr class="issue{{ issue.work.id }} issue" onclick="window.location.href='/issueDetail/{{ issue.id }}';">
                    <th scope="row">{{ issue.id }}</th>
                    <td>{{ issue.start_date|date:"Y-m-d" }}</td>
                    <td>{{ issue.end_date|date:"Y-m-d" }}</td>
                    <td>{{ issue.content }}</td>
                    <td>{{ issue.status }}</td>
                </tr>
            {% empty %}
                <tr>No Issue yet.</tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
<script type="text/javascript">
    let selectedID;
    let isClicked = false;
    $(function () {
        $('#field').hide();
        {% for work in object_list %}
            $('.issue{{ work.id }}').hide();
            $('#work{{ work.id }}').click(() => {
                {#alert("clicked");#}
                if (isClicked === false){
                    $('#formTitle').text("#{{ work.id }} 업무의 이슈");
                    selectedID = {{ work.id }};
                    $('#field').show();
                    $("#updateForm").attr("action", "/update/{{ work.id }}");
                    $('#id_manager').val("{{ work.manager }}");
                    $('#id_supporter').val("{{ work.supporter }}");
                    $('#id_work').val("{{ work.work }}");
                    $('#id_status').val("{{ work.status }}");
                    $('#id_start_date').val("{{ work.start_date|date:"Y-m-d" }}");
                    $('#id_expected_end_date').val("{{ work.expected_end_date|date:"Y-m-d" }}");
                    $('#id_end_date').val("{{ work.end_date|date:"Y-m-d" }}");
                    $('#UpdateWorkBtn').click(() => {
                        location.href = '/update/{{ work.id }}';
                    });
                    $('.issue{{ work.id }}').show();
                    $('#issueCreateBtn').click(() => {
                        location.href = '/issueCreate/'+selectedID;
                    });
                    isClicked = true;
                } else {
                    $('#field').hide();
                    {% for work in object_list %}
                        $('.issue{{ work.id }}').hide();
                    {% endfor %}
                    isClicked = false;
                }
            });
        {% endfor %}

        $('#createWorkBtn').click(() => {
            location.href = '/create';
        });



        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var id = button.data('whatever'); // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this);
            $('#deleteBtn').click(() => {
                location.href = '/delete/'+id;
            });
        })

    });

    function getHtml(){
        var result = '';
        result += `{{ form.as_p }}`;
        result += ``;
        return result;
    }


</script>
</html>
