<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/main.css' %}">
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
</head>
<body>
<div class="container">
    <div class="row mt-5 justify-content-md-center">
        <h1><a href="/" id="mainLink">업무 관리</a></h1>
    </div>

    <div class="row mb-3 justify-content-between">
        <div class="float-left mt-5 pt-3">
            <button type="button" id="createWorkBtn" class="btn btn-primary">업무 생성</button>
        </div>
        <div class="float-right col-md-8 mt-5 pt-3">
            <div class="input-group mb-3">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary dropdown-toggle" id="manLabel" type="button" data-toggle="dropdown" aia-haspopup="true" aria-expanded="false">모든 담당자</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item manBtn" href="#">모든 담당자</a>
                        {% for emp in employee %}
                            <a class="dropdown-item manBtn" href="#">{{ emp }}</a>
                        {% endfor %}
                    </div>
                </div>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary dropdown-toggle" id="statLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">모든 상태</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item statBtn" href="#">모든 상태</a>
                        {% for stat in status %}
                            <a class="dropdown-item statBtn" href="#">{{ stat }}</a>
                        {% endfor %}
                    </div>
                </div>
                <input type="text" class="form-control" id="searchInput" placeholder="Search ......" aria-label="Recipient's username">
                <div class="input-group-append">
                    <span class="input-group-text" id="searchBtn"><i class="fas fa-search"></i></span>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container-fluid table-responsive " style="max-height: 500px;">
    <table class="table-bordered table table-fixed">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">담당자</th>
            <th scope="col">업무 지원</th>
            <th scope="col">업무 내용</th>
            <th scope="col">상태</th>
            <th scope="col">시작일</th>
            <th scope="col">종료 예정일</th>
            <th scope="col">종료일</th>
        </tr>
        </thead>
        <tbody>
        {% for work in object_list %}
            <tr>
                <th scope="row" class="workId">{{ forloop.counter }}</th>
                <td scope="row" class="workMan">{{ work.manager }}</td>
                <td scope="row">
                    {% for sup in work.supporter.all %}
                        {{ sup }}
                    {% endfor %}
                    {#                    {{ work.supporter.name }}#}
                </td>
                <td scope="row " class="workCon">
                    <div class="media">
                        <div class="media-body">
                            <a href="#" class="mt-0 mb-1" id="work{{ work.id }}">{{ work.work }}</a>
                        </div>
                        <div class="ml-3">
                            <button type="button"  class="btn btn-danger btn-sm workBtn" data-toggle="modal" data-target="#deleteModal" data-whatever="{{ work.id }}">삭제</button>
                            <button type="button" onclick="window.location.href='/update/{{ work.id }}';" class="btn btn-primary btn-sm float-right workBtn">수정</button>
                        </div>
                    </div>
                </td>
                <td scope="row">{{ work.status }}</td>
                <td scope="row">{{ work.start_date|date:"Y-m-d" }}</td>
                <td scope="row">{{ work.expected_end_date|date:"Y-m-d" }}</td>
                <td scope="row">{{ work.end_date|date:"Y-m-d" }}</td>
            </tr>
        {% empty %}
            <tr>No work yet.</tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">확인</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    정말 삭제하시겠습니까?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                    <button type="button" id="deleteBtn" class="btn btn-danger">확인</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid justify-content-md-center" id="field" style="margin-top: 50px; background-color: #f9f9f9;padding: 50px 20px 10px;">
    <div class="row p-3 justify-content-between">
        <h2 id="formTitle"></h2>
        <button type="button" id="issueCreateBtn" class="btn btn-primary">이슈 생성</button>
    </div>
    <div class="row">
        <table class="table-bordered table table-hover" style="font-size: 13px;" id="issueTable">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">발생 일자</th>
                <th scope="col">종료 일자</th>
                <th scope="col">증상</th>
                <th scope="col">상태</th>
            </tr>
            </thead>
            <tbody>
            {% for issue in issues %}
                <tr class="issue{{ issue.work.id }} issue" onclick="window.location.href='/issueDetail/{{ issue.id }}'; $.cookie('visits', {{ issue.work.id }}); ">
                    <th scope="row">{{ issue.id }}</th>
                    <td>{{ issue.start_date|date:"Y-m-d" }}</td>
                    <td>{{ issue.end_date|date:"Y-m-d" }}</td>
                    <td class="issueCon">{{ issue.content }}</td>
                    <td>{{ issue.status }}</td>
                </tr>
            {% empty %}
                <tr>No Issue yet.</tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
<script type="text/javascript">
    let selectedID;
    let isClicked = false;
    $(function () {
        $('#field').hide();
        {% for work in object_list %}
            $('.issue{{ work.id }}').hide();
            $('#work{{ work.id }}').click(() => {
                {#alert("clicked");#}
                if (isClicked === false){
                    $('#formTitle').text("#{{ forloop.counter }} 업무의 이슈");
                    selectedID = {{ work.id }};
                    $('#field').show();
                    $("#updateForm").attr("action", "/update/{{ work.id }}");
                    $('#id_manager').val("{{ work.manager }}");
                    $('#id_supporter').val("{{ work.supporter }}");
                    $('#id_work').val("{{ work.work }}");
                    $('#id_status').val("{{ work.status }}");
                    $('#id_start_date').val("{{ work.start_date|date:"Y-m-d" }}");
                    $('#id_expected_end_date').val("{{ work.expected_end_date|date:"Y-m-d" }}");
                    $('#id_end_date').val("{{ work.end_date|date:"Y-m-d" }}");
                    $('#UpdateWorkBtn').click(() => {
                        location.href = '/update/{{ work.id }}';
                    });
                    $('.issue{{ work.id }}').show();
                    $('#issueCreateBtn').click(() => {
                        location.href = '/issueCreate/'+selectedID;
                    });
                    isClicked = true;
                } else {
                    $('#field').hide();
                    {% for work in object_list %}
                        $('.issue{{ work.id }}').hide();
                    {% endfor %}
                    isClicked = false;
                    $.removeCookie("visits");
                }
            });
        {% endfor %}

        $('#createWorkBtn').click(() => {
            location.href = '/create';
        });

        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var id = button.data('whatever'); // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this);
            $('#deleteBtn').click(() => {
                location.href = '/delete/'+id;
            });
        });

        $('.manBtn').on("click", (event) => {
            {#console.log(event.target.innerHTML);#}
            {#location.href = '/search/manager/'+event.target.innerHTML;#}
            $('#manLabel').text(event.target.innerHTML);
        });
        $('.statBtn').on("click", (event) => {
            $('#statLabel').text(event.target.innerHTML);
        });

        $('#searchBtn').click((e) => {
            $manLabel = $('#manLabel');
            $statLabel = $('#statLabel');
            manVal = $manLabel.text();
            statVal = $statLabel.text();
            query = $("#searchInput").val();

            if (manVal === "모든 담당자") {
                manVal = 'all'
            }
            if (statVal === '모든 상태') {
                statVal = 'all'
            }

            location.href = '/search/manager/'+manVal+'/status/'+statVal+'/contents/'+query;
        });

        $("#searchInput").keydown(function(key) {
            if (key.keyCode === 13) {

                $manLabel = $('#manLabel');
                $statLabel = $('#statLabel');
                manVal = $manLabel.text();
                statVal = $statLabel.text();
                query = $("#searchInput").val();

                location.href = '/search/manager/'+manVal+'/status/'+statVal+'/contents/'+query;
            }
        });

        if ($.cookie("visits")) {
            console.log($.cookie("visits"));
            $('#work'+$.cookie("visits")).trigger('click');
        }

        {% if status_query %}
            $('#statLabel').text('{{ status_query }}');
        {% endif %}

        {% if manager_query %}
            $('#manLabel').text('{{ manager_query }}');
        {% endif %}

    });

    function getHtml(){
        var result = '';
        result += `{{ form.as_p }}`;
        result += ``;
        return result;
    }


</script>
</html>
